
html{
  background: url(../images/sky.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#myCanvas {
  margin-top: -200px;
  margin-left: 140px;
}

.cc{
  width:900px; margin:0 auto;
  font-size: 15px;
  font-family: 'Lobster', cursive;
  color: red;
}

#college{
  margin-top: 0px;
  font-size: 60px;
  font-family: 'Lobster', cursive;
  color: #0B0B61;
}

.intro{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Lora', serif;
}

.type{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Lora', serif;
}

#site{
  width:900px; margin:0 auto;
  font-size: 13px;
  font-family: 'Lobster', cursive;
}

#site2{
  width:900px; margin:0 auto;
  font-size: 13px;
  font-family: 'Lobster', cursive;
}

#site3{
  width:900px; margin:0 auto;
  font-size: 13px;
  font-family: 'Lobster', cursive;
}

#facts{
  margin-top: 0px;
  font-weight: bold;
  font-family: 'Josefin Slab', serif;
  font-size: 38px;
  color:#7C4814;
}

.numb{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-style:regular;
  color:#2F5876;
}

#enroll{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-style:regular;
  color:#2F5876;
}

#transfer{  
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-style:regular;
  color:#2F5876;
}

#adr{
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-style:regular;
  color:#2F5876;
}

#google{
  font-weight: bold;
  font-family: 'Josefin Slab', serif;
  font-size: 38px;
  color:#7C4814;
}

#bar{
  margin-left: 310px;
}

#data{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Lora', serif;
}

#data1{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Lora', serif;
}

#programs{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-style:regular;
  color:#2F5876;
}

#link{
  text-decoration:none;
  margin-left:25%;
  font-size: 20px;
  font-family: 'Lora', serif;
}

#link1{
  text-decoration: none;
  margin-left:25%;
  font-size: 20px;
  font-family: 'Lora', serif;
}

#link2{
  text-decoration: none;
  margin-left:25%;
  font-size: 20px;
  font-family: 'Lora', serif;
}

#link3{
  text-decoration: none;
  margin-left:25%;
  font-size: 20px;
  font-family: 'Lora', serif;
}

#link4{
  text-decoration: none;
  margin-left:25%;
  font-size: 20px;
  font-family: 'Lora', serif;
}

#link5{
  text-decoration: none;
  margin-left:25%;
  font-size: 20px;
  font-family: 'Lora', serif;
}

#link6{
  text-decoration: none;
 margin-left:25%;
  font-size: 20px;
  font-family: 'Lora', serif;
}

span{
  color:#DBA901;
  width:900px; margin:0 auto;
}

#pic2{
  height:500px;
  width:700px;
  border:1px solid grey;
}

#l1{
  text-decoration: blink;
}

#ccst{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color:#2F5876;
}

#goo{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-style:regular;
  color:#2F5876;
}

#lg{
  font-weight: bold;
  font-family: 'Josefin Slab', serif;
  font-size: 33px;
  color:#7C4814;
}

#ccst1{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Lora', serif;
}

#ign{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Lora', serif;
}

#press{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Lora', serif;
}

.nyt{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Lora', serif;
}

.linky{
  font-weight: bold;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  color:#7C4814;
  text-decoration: none;
}

.linky:hover {
    color: #FF00FF;
}

li{
	font-size: 20px;
	font-family: 'Lora', serif;
}

ul{
  width:900px; margin:0 auto;
}

#know{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-style:regular;
  color:#2F5876;
}

#founded{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Lora', serif; 
}

#know1{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Lora', serif; 
}

#if{
  font-size: 20px;
  font-family: cursive; 
}

#open{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Lora', serif;  
}

#serves{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Lora', serif;  
}

#student{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Lora', serif;  
}

#pioneer{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-style:regular;
  color:#2F5876;
}

#proud{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Lora', serif;   
}

#transform{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-style:regular;
  color:#2F5876; 
}

#power{
  width:900px; margin:0 auto;
  font-size: 20px;
  color:#4B088A;
  font-family: cursive;  
}

#catalyst{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-style:regular;
  color:#2F5876;  
}

#voice{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-style:regular;
  color:#2F5876;
}

#leader{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Lora', serif;   
}

#img1{
  
  width:700px;
  height: 400px;
}

#LaGCC{
  width:800px;
  height:300px;
}

#foundation{
  font-size: 20px;
  color: red;
  font-weight: bold;
}

#boundary{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-style:regular;
  color:#2F5876;
}

#since{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Lora', serif;   
}

#today{
  width:900px; margin:0 auto;
  font-size: 20px;
  font-family: 'Lora', serif;   
}

#lagcc{
  font-weight: bold;
  font-family: 'Josefin Slab', serif;
  font-size: 38px;
  color:#7C4814;
}

#collegeImg{
  margin-top: -25px;
  width:600px;
  height:250px;
}

#btn{
  margin: 0;
  background-image:url(../images/nyt.png);
  border-width:1px;
  border-style:solid;
  background-color:white;
  width:300px;
  height:50px;
  border-radius:10px;
}
.links{
 text-decoration:none;
 font-weight:bold;
	
}
